body {
    font-family: sans-serif;
}

body header { 
    border-color : lime; background-color: greenyellow; color: limegreen
}

header a {
   color: mediumspringgreen; border: 10px;border-radius:20px;padding: 10px;margin: 10px;
}

header img {
    color: mediumspringgreen; border: 10px;border-radius:20px;padding: 10px;margin: 10px;
}

h1 {
    font-size: 40px; color: mediumturquoise; border: 10px; border-color:hwb(from color h w b);
    text-align: center;
}

footer {
    color: darkgreen; background-color: lime; 
}

nav {
    background-color: chartreuse; border: 7px solid lime; color: lawngreen; padding: 30px;
}

nav a {
    margin: 45px;
}

